<div class="container mtb">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="{{ "/assets/img/me.jpg" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="col-lg-6">
            <h4>Hi there 👋</h4>
            <p>I'm Ryan Amaral. I am an enthusiastic Android developer currently working as a contractor. I took my Bachelor of Engineering in Computer Science degree in Coimbra, Portugal. In 2012 I published a personal Android app that reached the mark of 10 million downloads! Working on new ideas is my greatest passion! While crafting applications I apply the most up-to-date practices of Android development that I learn every year at Droidcon's around Europe.</p>

            <p><br/><a href="/contact/" class="btn btn-theme">Contact me</a></p>
        </div>
    </div>
</div>
