<div class="col-lg-10 col-lg-offset-1 centered">
    <div id="carousel-generic" class="carousel slide" data-ride="carousel">
        
        <!-- indicators -->
        <ol class="carousel-indicators">
        {% assign size = page.carousel_size | to_integer %}
        {% if size >= 1 %}
        {% for index in (1..size) %}
            <li data-target="#carousel-generic" data-slide-to="{{ forloop.index0 }}" 
            {% if forloop.index0 == 0 %}
                class="active"
            {% endif %}>
            </li>
        {% endfor %}
        {% endif %}
        </ol>

        <!-- wrapper for slides -->
        <div class="carousel-inner">
        {% if size >= 1 %}
            <div class="item active">
                <img src="{{ site.base_url }}/assets/images/app/{{ page.assets }}/1.png" alt="">
            </div>
            {% if size >= 2 %}
            {% for index in (2..size) %}
            <div class="item">
                <img src="{{ site.base_url }}/assets/images/app/{{ page.assets }}/{{ index }}.png" alt="">
            </div>
            {% endfor %}
            {% endif %}
        {% endif %}
        </div>

    </div>
</div>
