<div id="contactwrap"></div>
<div class="container mtb">
    <div class="row">
        <div class="col-lg-8">
            <h4>Get in touch</h4>
            <div class="hline"></div>
                </p>
                <form action="https://formcarry.com/s/dLi8f84V3-wZ" method="POST" accept-charset="UTF-8" >
                  <div class="form-group">
                    <label for="InputName1">Your name</label>
                    <input type="text" name="name" class="form-control" id="name1" required />
                  </div>
                  <div class="form-group">
                    <label for="InputEmail1">Your email</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" required />
                  </div>
                  <div class="form-group">
                    <label for="message1">Message</label>
                    <textarea name="message" class="form-control" id="message1" rows="3" required /></textarea>
                  </div>
                  <input type="hidden" name="_gotcha">
                  <button type="submit" value="Send" class="btn btn-theme">Send message</button>
                </form>
        </div>
        <div class="col-lg-4">
          <div id="socialwrap">
            <h4>Social links</h4>
            <div class="hline"></div>
            <p>
                {% for network in site.social %}
                    <a href="{{ network.url }}" target="_blank" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>&nbsp;&nbsp;
                {% endfor %}
            </p>
          </div>
        </div>
    </div>
</div>
