<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 centered">
				<!-- <span id="footer-text">RyanAmaral.com ∙ </span> -->
				<span id="footer-text">Making apps with</span>
				<i id="footer-heart-ico" class="fa fa-heart"></i>
				<span id="footer-text">and</span>
				<i id="footer-ico" class="fa fa-coffee"></i>
				<span id="footer-text">since 2011</span>
				<!-- <span id="footer-text">around the</span> -->
				<!-- <i id="footer-ico" class="fa fa-globe"></i> -->
            </div>
        </div>
    </div>
</div>
<!--<div class="header-icons">
    <a aria-label="Send email" href="#"><i class="icon fa fa-envelope"></i></a>
    <a aria-label="My Twitter" target="_blank" href="#"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
    <a aria-label="My Google Plus" target="_blank" href="#"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>
    <a aria-label="My Github" target="_blank" href="#"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
</div> -->