<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 centered">
				<!-- <span id="footer-text">RyanAmaral.com ∙ </span> -->
				<span id="footer-text">Making apps with</span>
				<i id="footer-heart-ico" class="fa fa-heart"></i>
				<span id="footer-text">and</span>
				<i id="footer-ico" class="fa fa-coffee"></i>
				<span id="footer-text">since 2011</span>
				<!-- <span id="footer-text">around the</span> -->
				<!-- <i id="footer-ico" class="fa fa-globe"></i> -->
            </div>
        </div>
    </div>
</div>
