<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% for project in site.categories['project'] limit:include.limit %}
                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6" >
                    <img class="portfolio-image" src="{{ "/assets/img/icons/" | prepend: site.baseurl }}{{ project.icon }}" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="zoomIn">
                                <h3 class="a1">{{ project.title }}</h3>
                                <a href="{{  project.url | prepend: site.baseurl }}" class="dmbutton a2"><i class="fa fa-plus"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->		
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
            {% endfor %}
        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->