<script src="{{ site.url }}/assets/js/particles.min.js"></script>
<script src="{{ site.url }}/assets/js/particle-listener.js"></script>
<script src="{{ site.url }}/assets/js/sweet-scroll.min.js"></script>

<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Ryan Amaral</span>
        <span class="site-description">Android Engineer</span>
      </h1>
  </div>
  <a class="down" href="#more" data-scroll><i class="down-icon fa fa-chevron-down" aria-hidden="true"></i></a>
  <!-- <a class="arrow-down" href="#more" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a> -->
</div>
