<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
		<div class="col-lg-8 col-lg-offset-2">
			<i class="fa fa-comment-o"></i>
		</div>
		{% for person in site.people %} <!-- limit=2 -->
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p>{{ person.message }}</p>
					<h4><br/>{{ person.author }}</h4>
					<p>{{ person.position }}</p>
					<!-- while is not the last iteration draw a line -->
					<div {% if forloop.index != forloop.length %}class="recommendation-line"{% endif %}></div>
					<br>
				</div>
			</div>
		{% endfor %}
    </div>
</div>
