.particles-header {
  z-index: 1;
  text-align: center;
  color:#FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-title {
  font-size: 80px;
  font-weight: 800;
  display: block;
  line-height: 1;
  color: #FFF;
}

.site-description {
  font-size: 42px;
  font-weight: 600;
  display: block;
  line-height: 1;
  color: #FFF;
  margin-top: 10px;
}

.arrow-ico {
  color: #FFF;
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.arrow-anim {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  fill: #fff;
  -webkit-animation: pulse 1.3s infinite;
  animation: pulse 1.3s infinite;
}

.arrow-anim a:hover {
  color: {{ site.colors.primary }};
}

.arrow-anim a:active {
  color: {{ site.colors.primary }};
}
